background-image.jpg
background-image.png
/dev/compiled/
.DS_Store
/lib/.DS_Store
# Editor-based HTTP Client requests
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/httpRequests/
.idea
copilot.data*
dashboard-plugin.iml
.env
/node_modules
/notes
/shelf/
/workspace.xml
