// Named palette dependencies for the copied classic development themes.
// --------------------------------------------------------------------------
// Named colors - these colors may be used for various things, but in general you
// shouldn't be using them directly, as they are designed to change depending on
// whether light or dark mode is selected
// --------------------------------------------------------------------------
$ample-blue-darkest: #1c2b37;
$ample-blue-darker: #2c3b47;
$ample-blue-dark: #2f4858;
$ample-blue: #3e92cc;
$ample-blue-light: #afd8f4;
$ample-blue-lighter: #d3e8f5;
$ample-blue-lightest: #e6f4fe;

$ample-caribbean-blue: #44d1e0;
$ample-caribbean-red: #f95863;

$ample-gray-darkest: #2f3740;
$ample-gray-darker: #626d7a;
$ample-gray-dark: #8593a3;
$ample-gray: #b4bfcc;
$ample-gray-light: #e1e6eb;
$ample-gray-lighter: #edf1f5;
$ample-gray-lightest: #f9fbfc;

$ample-green: #0bbf7d;
$ample-green-lighter: #dafff2;

$ample-orange-darkest: #452d2c;
$ample-orange-dark: #da3317;
$ample-orange: #f5624c;
$ample-orange-lighter: #feeae7;

$ample-slate-darkest: #192025;
$ample-slate-darker: #21282e;
$ample-slate-dark: #272f35;

$ample-yellow: #ffb238;
$ample-yellow-lighter: #ffefd8;

